* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.app {
    display: flex;
    flex-direction: row;
    margin: 1em;
    width: 100%;
}

.search {
    flex: 0 1 25%;
    align-self: flex-start;
    height: 100%;
    z-index: 5;
}

.search input {
    border-radius: 0.3em;
    border: solid 1px black;
}

.search #levelUp {
    background-color: lightgreen;
}

.search #backToRoot {
    background-color: orange;
}

.map {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.list {
    height: 100%;
    /*padding-top: 1rem;*/
    overflow-y: auto;
}

.list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    padding: 0.35rem;
    background: lightblue;
    border-radius: 0.2rem;
    border: solid black 1px;
    cursor: pointer;
}

.list li button {
    float: right;
    background: none;
    border: solid 1px;
    margin: 0;
}

.info {
    flex: 0 auto;
    margin-left: auto;
    z-index: 5;
}

.form {
    background-color: lightblue;
    padding: 1rem;
    border: solid 1px;
    border-radius: 0.3em;
}

.form div {
    display: flex;
}

.form label {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
}

.form span {
    flex: 1;
}

.form input {
    flex: 2;
    padding: 1rem;
    font-size: 1rem;
    border: solid 1px;
    border-radius: 0.5em;
}

.form button {
    width: 100%;
    border: solid black 1px;
    border-radius: 0.5em;
    color: black;
    padding: 1rem;
}

.form #submit {
    background-color: lightgreen;
}

.form #empty_fields {
    background-color: orange;
}